<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/signup.css" />
    <title>Inscrever-se</title>
  </head>
  <body>
    <div id="fundo">
      <h2>Inscrever-se</h2>
      <form action="/signup" method="post">
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Usuário"
          required
        />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Senha"
          required
        />
        <input
          type="password"
          id="ConfiPass"
          name="ConfiPass"
          placeholder="Confirmação de senha"
          required
        />
        <i class="fa-solid fa-eye" id="eye-icon"></i>
        <button type="submit">Criar Conta</button>
      </form>
    </div>
    <script src="/signup.js"></script>
    <script
      src="https://kit.fontawesome.com/0ad31dba76.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
